<script src="https://giscus.app/client.js"
        data-repo="brokenkernel/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODkxMzYwMDE="
        data-category="blog comments"
        data-category-id="DIC_kwDOETvdgc4CgSh_"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
