[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "blog/themes/xmin"]
	path = blog/themes/xmin
	url = git@github.com:yihui/hugo-xmin.git
