[submodule "blog/themes/roadster"]
	path = themes/roadster
	url = https://github.com/mansoorbarri/roadster.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
