[submodule "blog/themes/mainroad"]
	path = blog/themes/mainroad
	url = https://github.com/vimux/mainroad
[submodule "blog/themes/roadster"]
	path = blog/themes/roadster
	url = https://github.com/mansoorbarri/roadster.git
