/*:is(h1, h2, h3, h4, h5, h6)::after {
  content: '¶' attr(id)
}*/

.bi {
  display: inline-block;
}
.bi-link {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--wk-accent-color-3);
}

.post-header>a{
  opacity: 0;
}

.post-header>a:hover, .post-header>a:active, .post-header>a:focus{
  opacity: 1;
}
